.App {
  text-align: center;
  height: 1000rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


:root{
  /* ======text heights======= */
  --header-height: 3.5rem
  /* =======text colours */
  --main-bg-color: #fff;
  --main-font-color: rgb(0, 0, 0);
  --main-dropdown-color: #242536;
  --primary-text-color: #555;

  /* ========Font and typography ======= */

  /* ======z-index */
  --border-radius: 8px;
  --z-fixed: 100
  --speed: 500ms;
}

body{
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff ;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dropdown-menu{
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: #242536 ;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}





/* img{
  max-width: 50%;
  display: flex;
  height: auto;
} */

a{
  text-decoration: none;
}

h1, h2, h3, h4{
  font-weight: bold;
}
form{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: #fff;
  transition: box-shadow 0.4s;
}
form input{
  margin-bottom: 0.5rem;
}

.nav{
  list-style: none;
  justify-content: space-between;
  margin-inline: 0.5em;
  color: black;
}

.title{
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  color: black;
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
  margin-left: 2rem;
}
.title2{
color: yellowgreen;
}

.motto{
  position: relative;
  font-size: 0.9rem;
  /* background-color: #0cedc0; */
}

.navigation{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 7.5rem;
}

.additems{
  padding: 5rem;
  margin: 4rem 2rem 2rem 4rem;
}

.txbadd{
  margin: 0.5rem;
  width: 60%;
  height: 20px;
  font-style: "Bai Jamjuree", sans-serif;;
}

.shopcard{
  align-items: flex-start;
  margin-left: 2rem;
}
.shopcard img{
  max-width: 400px;
  object-fit: contain;
}

.shopcard .description{
  position: relative;
}

.shopdisp{
  position: relative;
  display: inline-block;
  align-items: center;

}
