.root{
    font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}

.admin-main{
    background-color: #fff;
    top: 2rem;
    left: 0;
    width: 100rem;
    height: 50rem;
}

.admin-navigation{
    position: relative;
    top: 3rem;
    left: 2rem;
    width: 16rem;
    height: 45rem;
    line-height: 4rem;
    display: inline-block;
    font-size: 60px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: 1px #e0e0e0 solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
    align-items: start;
    justify-content: center;
}

.btn-admin{
    width: 70%;
    padding: 0 3px 3px 0;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    font-size: 20px;
    align-items: right;
    justify-content:right;
}

/* .admin-col{
    border-radius: 2px;
    position: absolute;
    width: 0.5px;
    left: 14rem;
    top: 3rem;
    height: 60rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0.3em 0.3em 0.3em 0 #d3d3d3, inset -0.3em -0.3em -0.3em 0 rgba(0, 1, 0, 1);

} */

.admin-main-sect{
    position: absolute;
    background-color: #d7d7d7;
    top: 3rem;
    left: 20rem;
    width: 90rem;
    height: 57rem;
    overflow: hidden;
    z-index: 0;
}

.analytics-earnings{
    position: absolute;
    border: none;
    top: 2.5rem;
    left: 2rem;
    height: 60rem;
    width: 40rem;
    background-color: #fff;
    border-radius: 8px;
    display: inline-block;
}

.analytics{
    position: absolute;
    border: none;
    top: 2rem;
    left: 2.5rem;
    height: 15rem;
    width: 35rem;
    background-color: purple;
    border-radius: 8px;
}

.earnings{
    position: absolute;
    border: none;
    top: 23rem;
    left: 2.5rem;
    height: 30rem;
    width: 35rem;
    background-color: #e0e0e0;
    border-radius: 8px;
}

.analytics h3{
    color: #fff;
    position: absolute;
    left: 2rem;
    font-size: 24px;
}

.earnings h3{
    color: #000;
    position: absolute;
    left: 2rem;
    font-size: 24px;
    font-family: 'georgia'
}

.table-items{
    table-layout: fixed;
    position: fixed;
    left: 25rem;
    top: 15rem;
    width: 50rem;
    line-height: 2.2rem;
    padding: 2rem;
    font-family: 'Oswald', sans-serif;
    overflow:scroll;
    overflow-x: hidden;
    display: block;
    border-collapse: collapse;
    background-color: #e0e0e0;
    border-radius: 8px;
    height: 32rem;
}

.table-items th, .table-items td{
    padding: 0.8rem;
}
.table-items th{
    font-size:18px;
    text-align: center;
}

/* .table-items td{
    border-top: 0.5px solid;
    text-overflow: ellipsis;
    overflow: hidden;
} */

.table-items td{
    border-top: 0.5px solid;
}

.desc-name{
    width: 25%;
    text-align: center;
}

.desc-text{
    text-align: center;
}
.desc-btn{
position: relative;
align-items: center;
line-height: 2.2rem;
top: 23px;
left: 20px;
width: 30px;
height: 30px;
text-align: center;

}

.btn-action-items{
display: flex;
gap: 0.5rem;
outline: none;
border: none;
}

.search-field{
position: absolute;
display: flex;
top: 10rem;
left: 25rem;
justify-content: space-between;
gap: 3rem;
}

.search-txtbx{
border: 0.1px #e0e0e0 solid;
border-radius: 0.5px;
font-size: 18px;
font-family: 'Oswald', sans-serif;
}

.add-btn{
outline: none;
border: none;
cursor: pointer;
height: 35px;
width: 35px;
border-radius: 8px;
}

.modal-items{
z-index: 1;
background-color: rgb(0, 0, 0, 0.4);
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
top:0;
left: 0;
position: fixed;
}

.modal{
background-color: #fff;
width: 20rem;
position: absolute;
left: 25rem;
top:14rem;
height: 30rem;
display: flex;
line-height: 4rem;
padding: 2rem;
margin: 2rem;
justify-content: space-between;
}

.modal-items h3{
    text-decoration: underline;
}

.form-items{
position: relative;
}

.form-items input{
height: 20px;
position: relative;
left: 2rem;
width: 60%;
}

.item-btn-modal-add{
outline: none;
border: none;
width: 50px;
height: 30px;
border-radius: 8px;
font-size: 32px;
margin: 1.5rem;
}

.item-btn-modal-exit{
outline: none;
border: none;
width: 50px;
height: 30px;
border-radius: 8px;
font-size: 32px;
position: absolute;
left: 20rem;
}